<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
   <body>
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Job</th>
               <th>Date Created</th>
            </tr>
         </thead>
         
         <tbody>
            {% for employee in employees %}
               <tr>
                  <td>{{ employee.id }}</td>
                  <td>{{ employee.name }}</td>
                  <td>{{ employee.job }}</td>
                  <td>{{ employee.date_created }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>